{% extends 'base.html.twig' %}

{% block imageHeadear %} {% endblock %}

{% block content %}
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4 shadow p-3 mb-5 rounded m-auto ">

            <h2 class="text-center">La Qualité</h2>
            <p class="text-center">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 shadow p-3 mb-5 rounded m-auto">

            <h2 class="text-center">L'intimité</h2>
            <p class="text-center ">Duis mollis, est non commodo luctus, nisi erat porttitor elit ligula, eget lacinia odio sem nec elit. Cras mattis fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum elitnibh.</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 shadow p-3 mb-5 rounded m-auto">

            <h2 class="text-center">La Générosité</h2>
            <p class="text-center">Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna. justo sit amet risus.</p>

        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider mt-5">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class=" ville featurette-heading text-center mt-4" >Hypnos Paris</h2>
            <p class="lead mt-5 text-justify text-center">Sauna et bain turc
                Ressourcez-vous avec une longue pause dédiée à la détente et au bien-être dans notre sauna et hammam, situés au 6ème étage de l'hôtel. Quoi de mieux que ces sensations vivifiantes après vos escapades sur la Côte d'Azur ? <br>Hyp-fitness est un club de fitness spacieux avec tout ce dont vous avez besoin pour rester en forme, de plus Hypnos Nice bénéficie d'un emplacement idéal sur la Promenade des Anglais</p>

            <div class="btn-group">
                <a href="#" class="btn btn-primary active mt-5 mr-2" aria-current="page">Nous Visiter</a>
                <a href="https://www.booking.com/hotel/fr/les-flandres.fr.html" class="btn btn-primary mt-5" aria-current="page">Booking.com</a>
            </div>
        </div>
        <div class="col-md-5 mt-5">
            <img src="{{ asset('assets/images/Paris.jpg') }}" class="img-fluid pic-custome" alt="Photo de l'hôtel">
        </div>
    </div>

    <div class="row featurette mt-5">
        <div class="col-md-7 order-md-2">
            <h2 class="ville featurette-heading text-center mt-4" >Hypnos Nice</h2>
            <p class="lead mt-5 text-justify text-center">Sauna et bain turc
                Ressourcez-vous avec une longue pause dédiée à la détente et au bien-être dans notre sauna et hammam, situés au 6ème étage de l'hôtel. Quoi de mieux que ces sensations vivifiantes après vos escapades sur la Côte d'Azur ? <br>Hyp-fitness est un club de fitness spacieux avec tout ce dont vous avez besoin pour rester en forme, de plus Hypnos Nice bénéficie d'un emplacement idéal sur la Promenade des Anglais</p>

            <div class="btn-group">
                <a href="#" class="btn btn-primary active mt-5 mr-2" aria-current="page">Nous Visiter</a>
                <a href="https://www.booking.com/hotel/fr/les-flandres.fr.html" class="btn btn-primary mt-5" aria-current="page">Booking.com</a>
            </div>
        </div>
        <div class="col-md-5 mt-5">
            <img src="{{ asset('assets/images/Nice.jpg') }}" class="img-fluid pic-custome" alt="Photo de l'hôtel">
        </div>
    </div>

    <div class="row featurette mt-5">
        <div class="col-md-7">
            <h2 class="ville featurette-heading text-center mt-4" >Hypnos Lyon</h2>
            <p class="lead mt-5 text-justify text-center">Sauna et bain turc
                Ressourcez-vous avec une longue pause dédiée à la détente et au bien-être dans notre sauna et hammam, situés au 6ème étage de l'hôtel. Quoi de mieux que ces sensations vivifiantes après vos escapades sur la Côte d'Azur ? <br>Hyp-fitness est un club de fitness spacieux avec tout ce dont vous avez besoin pour rester en forme, de plus Hypnos Nice bénéficie d'un emplacement idéal sur la Promenade des Anglais</p>

            <div class="btn-group">
                <a href="#" class="btn btn-primary active mt-5 mr-2" aria-current="page">Nous Visiter</a>
                <a href="https://www.booking.com/hotel/fr/les-flandres.fr.html" class="btn btn-primary mt-5" aria-current="page">Booking.com</a>
            </div>
        </div>
        <div class="col-md-5 mt-5">
            <img src="{{ asset('assets/images/Lyon.jpg') }}" class="img-fluid pic-custome" alt="Photo de l'hôtel">
    </div>

    <div class="row featurette mt-5">
        <div class="col-md-7 order-md-2">
            <h2 class="ville featurette-heading text-center mt-4" >Hypnos Montpellier</h2>
            <p class="lead mt-5 text-justify text-center">Sauna et bain turc
                Ressourcez-vous avec une longue pause dédiée à la détente et au bien-être dans notre sauna et hammam, situés au 6ème étage de l'hôtel. Quoi de mieux que ces sensations vivifiantes après vos escapades sur la Côte d'Azur ? <br>Hyp-fitness est un club de fitness spacieux avec tout ce dont vous avez besoin pour rester en forme, de plus Hypnos Nice bénéficie d'un emplacement idéal sur la Promenade des Anglais</p>

            <div class="btn-group">
                <a href="#" class="btn btn-primary active mt-5 mr-2" aria-current="page">Nous Visiter</a>
                <a href="https://www.booking.com/hotel/fr/les-flandres.fr.html" class="btn btn-primary mt-5" aria-current="page">Booking.com</a>
            </div>
        </div>
        <div class="col-md-5 mt-5">
            <img src="{{ asset('assets/images/Montpelier.jpg') }}" class="img-fluid pic-custome" alt="Photo de l'hôtel">
        </div>
    </div>

    <div class="row featurette mt-5">
        <div class="col-md-7">
            <h2 class="ville featurette-heading text-center mt-4" >Hypnos Marseille</h2>
            <p class="lead mt-5 text-justify text-center">Sauna et bain turc
                Ressourcez-vous avec une longue pause dédiée à la détente et au bien-être dans notre sauna et hammam, situés au 6ème étage de l'hôtel. Quoi de mieux que ces sensations vivifiantes après vos escapades sur la Côte d'Azur ? <br>Hyp-fitness est un club de fitness spacieux avec tout ce dont vous avez besoin pour rester en forme, de plus Hypnos Nice bénéficie d'un emplacement idéal sur la Promenade des Anglais</p>

            <div class="btn-group">
                <a href="#" class="btn btn-primary active mt-5 mr-2" aria-current="page">Nous Visiter</a>
                <a href="https://www.booking.com/hotel/fr/les-flandres.fr.html" class="btn btn-primary mt-5" aria-current="page">Booking.com</a>
            </div>
        </div>
        <div class="col-md-5 mt-5">
            <img src="{{ asset('assets/images/Marseille.jpg') }}" class="img-fluid pic-custome" alt="Photo de l'hôtel">
        </div>
    </div>

    <div class="row featurette mt-5">
        <div class="col-md-7 order-md-2">
            <h2 class="ville featurette-heading text-center mt-4" >Hypnos Biarritz</h2>
            <p class="lead mt-5 text-justify text-center">Sauna et bain turc
                Ressourcez-vous avec une longue pause dédiée à la détente et au bien-être dans notre sauna et hammam, situés au 6ème étage de l'hôtel. Quoi de mieux que ces sensations vivifiantes après vos escapades sur la Côte d'Azur ? <br>Hyp-fitness est un club de fitness spacieux avec tout ce dont vous avez besoin pour rester en forme, de plus Hypnos Nice bénéficie d'un emplacement idéal sur la Promenade des Anglais</p>

            <div class="btn-group">
                <a href="#" class="btn btn-primary active mt-2 mr-2" aria-current="page">Nous Visiter</a>
                <a href="https://www.booking.com/hotel/fr/les-flandres.fr.html" class="btn btn-primary mt-2" aria-current="page">Booking.com</a>
            </div>
        </div>
        <div class="col-md-5 mt-5">
            <img src="{{ asset('assets/images/Biarritz.jpg') }}" class="img-fluid mt-4 pic-custome" alt="Photo de l'hôtel">
        </div>
    </div>

    <div class="row featurette mt-5">
        <div class="col-md-7">
            <h2 class="ville featurette-heading text-center mt-4" >Hypnos Annecy</h2>
            <p class="lead mt-5 text-justify text-center">Sauna et bain turc
                Ressourcez-vous avec une longue pause dédiée à la détente et au bien-être dans notre sauna et hammam, situés au 6ème étage de l'hôtel. Quoi de mieux que ces sensations vivifiantes après vos escapades sur la Côte d'Azur ? <br>Hyp-fitness est un club de fitness spacieux avec tout ce dont vous avez besoin pour rester en forme, de plus Hypnos Nice bénéficie d'un emplacement idéal sur la Promenade des Anglais</p>

            <div class="btn-group">
                <a href="#" class="btn btn-primary active mt-5 mr-2" aria-current="page">Nous Visiter</a>
                <a href="https://www.booking.com/hotel/fr/les-flandres.fr.html" class="btn btn-primary mt-5" aria-current="page">Booking.com</a>
            </div>
        </div>
        <div class="col-md-5 mt-5">
            <img src="{{ asset('assets/images/Annecy.jpg') }}" class="img-fluid pic-custome" alt="Photo de l'hôtel">
        </div>
    </div>


    <!-- /END THE FEATURETTES -->
{% endblock %}