<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Meilleurs hôtels de luxe dans les 7 plus belles ville de France, pour votre séjour en amoureux">
        <title>{% block title %}Hypnos Groupe{% endblock %}</title>

        <!-- Font-Family -->
        <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Roboto:wght@300&display=swap" rel="stylesheet">

        <!-- Bootstrap core CSS -->
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/Hypnos.css') }}" rel="stylesheet">

        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                    text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>
        <!-- Custom styles for this template -->

    </head>

    <body>

        <header>
            <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white">
                <a class="navbar-brand" href="{{ path('app_home')}}"><img src="{{ asset('assets/images/logo_hypnos.png') }}" alt="Logo" height="130px"></a>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">Nos hôtels</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('app_paris')}}">Hypnos Paris</a>
                                <a class="dropdown-item" href="{{ path('app_nice')}}">Hypnos Nice</a>
                                <a class="dropdown-item" href="{{ path('app_lyon')}}">Hypnos Lyon</a>
                                <a class="dropdown-item" href="{{ path('app_montpellier')}}">Hypnos Montpellier</a>
                                <a class="dropdown-item" href="{{ path('app_marseille')}}">Hypnos Marseille</a>
                                <a class="dropdown-item" href="{{ path('app_biarritz')}}">Hypnos Biarritz</a>
                                <a class="dropdown-item" href="{{ path('app_annecy')}}">Hypnos Annecy</a>
                            </div>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{{ path('admin') }}">Qui sommes-nous ?</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                    <div class="navbar-item-custom">
                        {% if app.user %}
                            <a href="{{ path('app_account') }}">Mon compte<small>({{ app.user.firstname }})</small></a> / <a href="{{ path('app_logout') }}">Déconnexion</a>
                        {% else %}
                            <a href="{{ path('app_login') }}">Connexion</a> / <a href="{{ path('app_register') }}">Inscription</a>
                        {% endif %}
                    </div>

                </div>
            </nav>
        </header>


            <section>
                <div>
                    <img src="{{ asset('assets/images/imageHeader.jpg') }}" alt="picine intérieur privé" class="w-100 d-block" height="720">
                </div>
            </section>
        </header>

        <main role="main">


            {% if block('imageHeadear') is defined %}
        <section class="pt-5">
            <article id="effet" class="mt-5">
                <h1 class="text-center pt-4"> Votre chaîne hôtelière <em>Hypnos</em> </h1><br><p class="text-center pb-2">

            </article>
            <div class="p-5">
                <h2 class="p-5 text-center">Nos Hôtels haut de gamme</h2>
                <hr class="featurette-divider">
            </div>
        </section>
            {% endif %}
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing {% if block('imageHeadear') is not defined %}mt-5{% endif %}">

       {% block content %}
        {% endblock %}
    </div>
            <hr>

    <!-- FOOTER -->
    <footer class="footer-custom">
        <p>Copyright &copy; 2022 Groupe Hypnos Hotel  &middot; Tous droits réservé.<br>Rosine David.<br><small>" The ultimate référence "</small></p>

    </footer>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src=" {{ asset('assets/js/bootstrap.bundle.js')}}"></script>
</body>
</html>
