{% extends 'base.html.twig' %}

{% block title %}Hypnos Marseille{% endblock %}

{% block content %}
<h1 class="text-center mt-5">Hypnos Marseille </h1>

<section class="pt-5">

    <article id="effet" class="mt-5">
        <h2 class="text-center pt-4">Hôtel de charme authentique </h2><br><p class="text-center pb-2">
    </article>

    <div class="p-5">
        <h2 class="p-5 text-center">Chambres et Suites avec Jacuzzi</h2>
        <hr class="featurette-divider">
    </div>

</section>

<div class="row featurette">
    <div class="mt-2 ">
        <h2 class=" ville featurette-heading  mt-4" >Nos suites</h2>
        <section>
            <div>
                <img src="{{ asset('assets/images/imageHeader.jpg') }}" alt="picine intérieur privé" class="w-100 d-block mt-5" height="720">
            </div>
        </section>


        <p class="lead mt-5 text-justify text-center">Sauna et bain turc
            Ressourcez-vous avec une longue pause dédiée à la détente et au bien-être dans notre sauna et hammam, situés au 6ème étage de l'hôtel. Quoi de mieux que ces sensations vivifiantes après vos escapades sur la Côte d'Azur ? <br>Hyp-fitness est un club de fitness spacieux avec tout ce dont vous avez besoin pour rester en forme, de plus Hypnos Nice bénéficie d'un emplacement idéal sur la Promenade des Anglais</p>

        <!-- <div class="btn-group">
             <a href="#" class="btn btn-primary active mt-5 mr-2" aria-current="page">Nous Visiter</a>
             <a href="https://www.booking.com/hotel/fr/les-flandres.fr.html" class="btn btn-primary mt-5" aria-current="page">Booking.com</a>
         </div>-->
        <section class="p-5">
            <div class="card m-4">
                <h4 class="card-title fw-bold  text-center ">Bienvenue en Amazonie…</h4>
                <img src="{{ asset('assets/images/imageHeader.jpg') }}" alt="picine intérieur privé" class="w-100 d-block mt-5" >
                <div class="card-body">
                    <p class="card-text lead">La Suite Tropicale vous emmène en direction de l’Amérique du Sud avec ses couleurs chatoyantes et ses matériaux naturels & raffinés.</p>
                </div>

            </div>
        </section>

    </div>

    <div class="row featurette mt-5">
        <div class="col-md-7 order-md-2">
            <h2 class="ville featurette-heading text-center mt-4" >Réserver la suite</h2>
            <p class="lead mt-5 text-justify text-center">Sauna et bain turc
                Ressourcez-vous avec une longue pause dédiée à la détente et au bien-être dans notre sauna et hammam, situés au 6ème étage de l'hôtel. Quoi de mieux que ces sensations vivifiantes après vos escapades sur la Côte d'Azur ? <br>Hyp-fitness est un club de fitness spacieux avec tout ce dont vous avez besoin pour rester en forme, de plus Hypnos Nice bénéficie d'un emplacement idéal sur la Promenade des Anglais</p>

            <div class="btn-group">
                <a href="#" class="btn btn-primary active mt-5 mr-2" aria-current="page">Nous Visiter</a>
                <a href="https://www.booking.com/hotel/fr/les-flandres.fr.html" class="btn btn-primary mt-5" aria-current="page">Booking.com</a>
            </div>
        </div>
        <div class="col-md-5 mt-5">
            <img src="{{ asset('assets/images/Nice.jpg') }}" class="img-fluid pic-custome" alt="Photo de l'hôtel">
        </div>
    </div>

    <div class="row featurette mt-5">
        <div class="col-md-7">
            <h2 class="ville featurette-heading text-center mt-4" >SUITE INDONÉSIENNE</h2>
            <p class="lead mt-5 text-justify text-center">Sauna et bain turc
                Ressourcez-vous avec une longue pause dédiée à la détente et au bien-être dans notre sauna et hammam, situés au 6ème étage de l'hôtel. Quoi de mieux que ces sensations vivifiantes après vos escapades sur la Côte d'Azur ? <br>Hyp-fitness est un club de fitness spacieux avec tout ce dont vous avez besoin pour rester en forme, de plus Hypnos Nice bénéficie d'un emplacement idéal sur la Promenade des Anglais</p>

            <div class="btn-group">
                <a href="#" class="btn btn-primary active mt-5 mr-2" aria-current="page">Réserver la suite</a>
                <a href="https://www.booking.com/hotel/fr/les-flandres.fr.html" class="btn btn-primary mt-5" aria-current="page">Booking.com</a>
            </div>
        </div>
        <div class="col-md-5 mt-5">
            <img src="{{ asset('assets/images/Lyon.jpg') }}" class="img-fluid pic-custome" alt="Photo de l'hôtel">
        </div>

        <div class="row featurette mt-5">
            <div class="col-md-7 order-md-2">
                <h2 class="ville featurette-heading text-center mt-4" >Suite Geisha</h2>
                <p class="lead mt-5 text-justify text-center">Sauna et bain turc
                    Ressourcez-vous avec une longue pause dédiée à la détente et au bien-être dans notre sauna et hammam, situés au 6ème étage de l'hôtel. Quoi de mieux que ces sensations vivifiantes après vos escapades sur la Côte d'Azur ? <br>Hyp-fitness est un club de fitness spacieux avec tout ce dont vous avez besoin pour rester en forme, de plus Hypnos Nice bénéficie d'un emplacement idéal sur la Promenade des Anglais</p>

                <div class="btn-group">
                    <a href="#" class="btn btn-primary active mt-5 mr-2" aria-current="page">Nous Visiter</a>
                    <a href="https://www.booking.com/hotel/fr/les-flandres.fr.html" class="btn btn-primary mt-5" aria-current="page">Booking.com</a>
                </div>
            </div>
            <div class="col-md-5 mt-5">
                <img src="{{ asset('assets/images/Montpelier.jpg') }}" class="img-fluid pic-custome" alt="Photo de l'hôtel">
            </div>
        </div>

        {% endblock %}

